<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>社区帖子列表</title>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <!--    显示登录信息-->
    <h2>欢迎来到社区,
        <img :src="userInfo.img" alt="头像" width="30px" height="30px">
        <span v-text="userInfo.username"></span>
        <!--        退出系统-->
        <button @click="logout">退出</button>
        <!--        修改密码-->
        <button><a href="/community/pages/updateUser.html">更新个人信息</a></button>
    </h2>

    <hr>
    <h3 align="center">社区帖子列表</h3>
    <!--    条件搜索 根据作者 标题 状态 查询-->
    <div align="center">
        <input type="text" name="username" placeholder="作者" v-model="searchParams.author">
        <input type="text" name="title" placeholder="标题" v-model="searchParams.title">
        <select name="status" v-model="searchParams.status">
            <option value=-1>全部</option>
            <option value=0>普通</option>
            <option value=1>精华</option>
            <option value=2>拉黑</option>
        </select>
        <button @click="getPostList()">搜索</button>
    </div>
    <table border="1" align="center" width="80%">
        <tr>
            <th>编号</th>
            <th>作者</th>
            <th>标题</th>
            <th>状态</th>
            <th>创建时间</th>
            <!--            新增-->
            <th>操作
                <button><a href="./addPost.html">新增帖子</a></button>
            </th>
        </tr>
        <!--        循环显示帖子列表-->
        <tr v-for="post in postList">
            <td>{{post.id}}</td>
            <td>{{post.username}}</td>
            <!--    点击帖子标题 跳转到帖子详细页面-->
            <td @click="getPostDetail(post.id)">{{post.title}}</td>
            <!-- 如果状态为1 加上红色的字体 如果不是则显示普通字体-->
            <td v-if="post.status === 1" style="color: red">{{post.status | statusFilter}}</td>
            <td v-else>{{post.status | statusFilter}}</td>
            <td>{{post.create_time}}</td>
            <!--            删除 修改帖子-->
            <td>
                <button @click="deletePost(post.id)">删除</button>
                <button v-if="post.username === userInfo.username">
                    <a @click="editPostDetail(post.id)">修改</a>
                </button>
            </td>
        </tr>
    </table>
    <!--        分页-->
    <div align="center">
        <!--        首页、上一页、当前页、下一页、尾页-->
        <button v-if="pageInfo.currentPage > 1" @click="getPostList(1)">首页</button>
        <button v-if="pageInfo.currentPage > 1" @click="getPostList(pageInfo.currentPage -1)">上一页
        </button>
        <span>当前第{{pageInfo.currentPage}}页/共{{pageInfo.totalCount}}页</span>
        <button v-if="pageInfo.currentPage < pageInfo.totalCount" @click="getPostList(pageInfo.currentPage +1)">下一页
        </button>
        <button v-if="pageInfo.currentPage < pageInfo.totalCount" @click="getPostList(pageInfo.totalCount)">尾页
        </button>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            userInfo: {
                username: '',
                img: ''
            },
            postList: [],
            pageInfo: {
                currentPage: 1,
                totalCount: 0,
            },
            searchParams: {
                author: '',
                title: '',
                status: -1,
            }
        },
        created: function () {
            this.getLoginInfo();
            this.getPostList(1);
        },
        methods: {
            // 获取登录信息
            getLoginInfo: function () {
                //获取localStorage.setItem('user', JSON.stringify(result.data.data));中的数据
                let user = JSON.parse(localStorage.getItem('user'));
                //获取session中的数据
                let updateUser = JSON.parse(sessionStorage.getItem('user'));
                if (updateUser != null) {
                    user = updateUser;
                }
                console.log(user);
                this.userInfo.username = user.username;
                this.userInfo.img = user.header_url;
            },
            //获取帖子信息 并分页
            getPostList: function (currentPage) {
                this.pageInfo.currentPage = currentPage || 1;
                axios({
                    method: 'get',
                    url: '/community/postList',
                    params: {
                        author: this.searchParams.author,
                        title: this.searchParams.title,
                        status: this.searchParams.status,
                        currentPage: currentPage || 1,
                    },
                }).then((result) => {
                        let code = result.data.code;
                        if (code === 200) {
                            this.postList = result.data.data.discussPosts;
                            this.pageInfo.totalCount = result.data.data.totalCount;
                        } else if (code === 1) {
                            this.postList = [];
                            this.pageInfo.totalCount = 0;
                            alert(result.data.message)
                        }
                    }
                )
                ;
            },
            //获取帖子详情
            getPostDetail: function (id) {
                axios({
                    method: 'get',
                    url: '/community/postDetail',
                    params: {
                        id: id,
                    }
                }).then((result) => {
                    //将查询帖子结果封装到localStorage 跳转到帖子详情页面
                    let post = result.data.data;
                    //将帖子存到localStorage中
                    localStorage.setItem('post', JSON.stringify(post));
                    window.location.href = '/community/pages/postDetail.html';
                });
            },
            //     编辑帖子
            editPostDetail: function (id) {
                axios({
                    method: 'get',
                    url: '/community/postDetail',
                    params: {
                        id: id,
                    }
                }).then((result) => {
                    //将查询帖子结果封装到localStorage 跳转到帖子详情页面
                    let post = result.data.data;
                    //将帖子存到localStorage中
                    localStorage.setItem('post', JSON.stringify(post));
                    window.location.href = '/community/pages/updatePost.html';
                });
            },
            //     退出
            logout: function () {
                localStorage.removeItem('user');
                window.location.href = '/community/pages/login.html';
            },
            //     删除帖子
            deletePost: function (id) {
                if (confirm('确认删除该帖子吗？')) {
                    axios({
                        method: 'get',
                        url: '/community/deletePost',
                        params: {
                            id: id,
                        }
                    }).then((result) => {
                        if (result.data.code === 200) {
                            alert('删除成功');
                            window.location.reload();
                        }
                    });
                }
            }
        },
        //     添加过滤器 状态 0：普通 1：精华 2：拉黑
        filters: {
            statusFilter: function (status) {
                if (status === 0) {
                    return '普通';
                } else if (status === 1) {
                    return '精华';
                } else {
                    return '拉黑';
                }
            },
        }
    });
</script>

</body>
</html>